Tests/RealNdeServiceTest/Service References/ServiceReference1/NdeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NdeDataClasses.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NdeDataClasses.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NdeWS/NdeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NdeDataClasses" />
  <xs:complexType name="BindingCommand">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BindingCommand" nillable="true" type="tns:BindingCommand" />
  <xs:complexType name="AssignTrainNumberCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BindingCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="StationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainNumberPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainNumberSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainThreadId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssignTrainNumberCommand" nillable="true" type="tns:AssignTrainNumberCommand" />
  <xs:complexType name="BindTrainThreadsCommnand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BindingCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="SourceId" type="xs:int" />
          <xs:element minOccurs="0" name="TargetId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BindTrainThreadsCommnand" nillable="true" type="tns:BindTrainThreadsCommnand" />
  <xs:complexType name="AssignMessForTrainCommand">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BindingCommand">
        <xs:sequence>
          <xs:element minOccurs="0" name="trainIdn" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NdeDataClasses" minOccurs="0" name="trainMessage" nillable="true" type="q1:TrainMessage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssignMessForTrainCommand" nillable="true" type="tns:AssignMessForTrainCommand" />
</xs:schema>