Tests/WcfOverWinServiceTest/Service References/ServiceReference1/NdeDataClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NdeDataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NdeDataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrainEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainEvent" nillable="true" type="tns:TrainEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainEvent" nillable="true" type="tns:ArrayOfTrainEvent" />
  <xs:complexType name="TrainEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BzTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CWagCount" type="xs:int" />
      <xs:element minOccurs="0" name="CrewStTimeH" type="xs:int" />
      <xs:element minOccurs="0" name="CrewStTimeM" type="xs:int" />
      <xs:element minOccurs="0" name="DObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DObjType" type="xs:int" />
      <xs:element minOccurs="0" name="DestStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestType" type="xs:int" />
      <xs:element minOccurs="0" name="EventAxis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventType" type="xs:int" />
      <xs:element minOccurs="0" name="GrWeight" type="xs:int" />
      <xs:element minOccurs="0" name="IdWrNext" type="xs:int" />
      <xs:element minOccurs="0" name="IdWrPrior" type="xs:int" />
      <xs:element minOccurs="0" name="Machinist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessIdn" type="xs:int" />
      <xs:element minOccurs="0" name="NeibStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NormIdn" type="xs:int" />
      <xs:element minOccurs="0" name="NtWeight" type="xs:int" />
      <xs:element minOccurs="0" name="RoTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrainIdn" type="xs:int" />
      <xs:element minOccurs="0" name="TrainNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNumberPrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNumberSuffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainEvent" nillable="true" type="tns:TrainEvent" />
  <xs:complexType name="ArrayOfTrainWorking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainWorking" nillable="true" type="tns:TrainWorking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainWorking" nillable="true" type="tns:ArrayOfTrainWorking" />
  <xs:complexType name="TrainWorking">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsType" type="xs:int" />
      <xs:element minOccurs="0" name="NeStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Station" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Track" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainPrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainSuffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrainWorking" nillable="true" type="tns:TrainWorking" />
  <xs:complexType name="ArrayOfWorkMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkMessage" nillable="true" type="tns:WorkMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkMessage" nillable="true" type="tns:ArrayOfWorkMessage" />
  <xs:complexType name="WorkMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CWagCount" type="xs:int" />
      <xs:element minOccurs="0" name="CrewStTimeH" type="xs:int" />
      <xs:element minOccurs="0" name="CrewStTimeM" type="xs:int" />
      <xs:element minOccurs="0" name="Flags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrWeight" type="xs:int" />
      <xs:element minOccurs="0" name="LocoNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocoSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Machinist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessIdn" type="xs:int" />
      <xs:element minOccurs="0" name="MessProp" type="xs:int" />
      <xs:element minOccurs="0" name="MessStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessType" type="xs:int" />
      <xs:element minOccurs="0" name="NmSost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NtWeight" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StDest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainAttr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainIdn" type="xs:int" />
      <xs:element minOccurs="0" name="TrainNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WagEmpty" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="WagLoaded" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="WagNoWork" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkMessage" nillable="true" type="tns:WorkMessage" />
  <xs:complexType name="ArrayOfGIDMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GIDMessage" nillable="true" type="tns:GIDMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGIDMessage" nillable="true" type="tns:ArrayOfGIDMessage" />
  <xs:complexType name="GIDMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsAxis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsFlags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsIdn" type="xs:int" />
      <xs:element minOccurs="0" name="MsStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MsType" type="xs:int" />
      <xs:element minOccurs="0" name="NeStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GIDMessage" nillable="true" type="tns:GIDMessage" />
  <xs:complexType name="ArrayOfComDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComDefinition" nillable="true" type="tns:ComDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComDefinition" nillable="true" type="tns:ArrayOfComDefinition" />
  <xs:complexType name="ComDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CollStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComType" type="xs:int" />
      <xs:element minOccurs="0" name="DefIdn" type="xs:int" />
      <xs:element minOccurs="0" name="ObStpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObStpType" type="xs:int" />
      <xs:element minOccurs="0" name="ObSttName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObSttType" type="xs:int" />
      <xs:element minOccurs="0" name="StatCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrainNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComDefinition" nillable="true" type="tns:ComDefinition" />
  <xs:complexType name="ArrayOfTrackPointMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackPointMessage" nillable="true" type="tns:TrackPointMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackPointMessage" nillable="true" type="tns:ArrayOfTrackPointMessage" />
  <xs:complexType name="TrackPointMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MsType" type="xs:int" />
      <xs:element minOccurs="0" name="PointName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpanTrack" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StCodeStart" type="xs:int" />
      <xs:element minOccurs="0" name="StCodeStop" type="xs:int" />
      <xs:element minOccurs="0" name="TrPointStart" type="xs:int" />
      <xs:element minOccurs="0" name="TrPointStop" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackPointMessage" nillable="true" type="tns:TrackPointMessage" />
</xs:schema>