Tests/WcfOverWinServiceTest/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NdeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_INdeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NdeDataClasses" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NdeDataClasses.Commands" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INdeService_GetLastTrainEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTrainEvents" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetLastTrainEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastTrainEventsResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetWorkVectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkVectors" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetWorkVectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkVectorsResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetWorkMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkMessages" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetWorkMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetGIDMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGIDMessages" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetGIDMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGIDMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetComDefinitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComDefinitions" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetComDefinitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetComDefinitionsNoRun_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComDefinitionsNoRun" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetComDefinitionsNoRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComDefinitionsNoRunResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequests" />
  </wsdl:message>
  <wsdl:message name="INdeService_GetRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="INdeService_ExecuteBindingCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteBindingCommand" />
  </wsdl:message>
  <wsdl:message name="INdeService_ExecuteBindingCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteBindingCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="INdeService">
    <wsdl:operation name="GetLastTrainEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetLastTrainEvents" message="tns:INdeService_GetLastTrainEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetLastTrainEventsResponse" message="tns:INdeService_GetLastTrainEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkVectors">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetWorkVectors" message="tns:INdeService_GetWorkVectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetWorkVectorsResponse" message="tns:INdeService_GetWorkVectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetWorkMessages" message="tns:INdeService_GetWorkMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetWorkMessagesResponse" message="tns:INdeService_GetWorkMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGIDMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetGIDMessages" message="tns:INdeService_GetGIDMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetGIDMessagesResponse" message="tns:INdeService_GetGIDMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComDefinitions">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetComDefinitions" message="tns:INdeService_GetComDefinitions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetComDefinitionsResponse" message="tns:INdeService_GetComDefinitions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComDefinitionsNoRun">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetComDefinitionsNoRun" message="tns:INdeService_GetComDefinitionsNoRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetComDefinitionsNoRunResponse" message="tns:INdeService_GetComDefinitionsNoRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/GetRequests" message="tns:INdeService_GetRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/GetRequestsResponse" message="tns:INdeService_GetRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteBindingCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/INdeService/ExecuteBindingCommand" message="tns:INdeService_ExecuteBindingCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INdeService/ExecuteBindingCommandResponse" message="tns:INdeService_ExecuteBindingCommand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_INdeService" type="tns:INdeService">
    <wsp:PolicyReference URI="#NetTcpBinding_INdeService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLastTrainEvents">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetLastTrainEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkVectors">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetWorkVectors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkMessages">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetWorkMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGIDMessages">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetGIDMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComDefinitions">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetComDefinitions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComDefinitionsNoRun">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetComDefinitionsNoRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequests">
      <soap12:operation soapAction="http://tempuri.org/INdeService/GetRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBindingCommand">
      <soap12:operation soapAction="http://tempuri.org/INdeService/ExecuteBindingCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NdeService">
    <wsdl:port name="NetTcpBinding_INdeService" binding="tns:NetTcpBinding_INdeService">
      <soap12:address location="net.tcp://localhost:15200/NdeWcfOverWinService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:15200/NdeWcfOverWinService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>